In [8]:
import pandas as pd
import numpy as np
import re

In [21]:
l = [['123Shu123bham123']*15]*7
l.append(['1Shub-2bh an 33 66 & 765']*15)
l.append(['1- Shub 2 bhan 23']*15)

df = pd.DataFrame(l)

In [22]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123
1,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123
2,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123
3,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123
4,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123
5,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123
6,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123
7,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765
8,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23

In [ ]:
df[0].apply(lambda x: x.replace('arun', 'varun'))

In [ ]:
re.findall(r'\d+', test_string)

In [1]:
import re

In [23]:
df['num'] = df[0].apply(lambda x:''.join(re.findall(r'\d+', x)))
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,num
0,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123123123
1,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123123123
2,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123123123
3,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123123123
4,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123123123
5,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123123123
6,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123Shu123bham123,123123123
7,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,1Shub-2bh an 33 66 & 765,123366765
8,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1- Shub 2 bhan 23,1223